<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Language" content="cs">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="sheet.css">
    <title>Papání</title>
</head>

<body>
    <div>
        <ul>
            <li><a href="$actual$" class="unactive">Aktuální den</a></li>
            <li><a href="index0.html" class="$active0$">Pondělí</a></li>
            <li><a href="index1.html" class="$active1$">Úterý</a></li>
            <li><a href="index2.html" class="$active2$">Středa</a></li>
            <li><a href="index3.html" class="$active3$">Čtvrtek</a></li>
            <li><a href="index4.html" class="$active4$">Pátek</a></li>
            <p class="lastUpdate">$lastUpdate$</p>
        </ul>
    </div>
    <div style="margin-top: 50px">
        <h1>Papání</h1>
        <div>
            $content$
        </div>
    </div>
</body>